<div class="_card">
  <div class="_title">
    <h2>Speakers</h2>
    <div class="_actions">
      <button type="button" (click)="openModalLat(1, '800px')">
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
  </div>
  <div class="cont_speakers">
      <div class="row">
        <div class="col-xl-3 col-md-4 col-sm-6 col-12" *ngFor="let item of speakers">
          <div class="card_speaker">
              <div class="_actions">
                <span (click)="deleteSpeaker(item)">
                  <i class="fas fa-trash-alt"></i>
                </span>
                <span>
                  <i class="fas fa-pen"></i>
                </span>
              </div>
              <div class="_photo">
                <img src="{{item.payload.doc.data().photoUrl}}">
              </div>
              <div class="_names">
                <span>{{item.payload.doc.data().name}}</span>
                <p>{{item.payload.doc.data().title}}</p>
              </div>
              <div class="_short_bio">
                {{item.payload.doc.data().shortBio}}
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="modal_lateral"  [ngClass]="{'_active': current_modal.open == true}">
  <div class="_header">
    <div class="_close">
      <span (click)="closeModalLat()">
          <i class="fas fa-times"></i>
      </span>
    </div>
    <h2>{{current_modal.title}}</h2>
    <div class="_actions">
      <button type="button">
        <i class="far fa-save"></i>
      </button>
    </div>
  </div>
  <div class="_body">

  </div>
</div>